body {
  margin: 0px;
}

#expressions {
  color: #ffffff;
background-color: rgba(0, 108, 119, 0.99);
width: 100%;
height: 29px;
-ms-overflow-style: none;
scrollbar-width: none;
overflow: scroll;
position: relative;
padding: 5px 0px 5px 15px;
}


#expressions::-webkit-scrollbar {
  display: none;
}

#expressions>input, select {
  width: 48px;
text-align: center;
background-color: #036d78;
border: 0;
margin: -5px;
font-family: monospace;
color: white;
}

#expressions > span {
  font-family: monospace;
  color: white;
}
#input-panel {
  width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: rgba(28, 181, 200, 0.05);
    border: 0px;
    padding: 10px;
    font-family: monospace;

}



#normal {
  position: absolute;
  width: 49%;
  left: 50%;
  height: 60%;
  padding-top: 25px;
  padding-left: 8px;
}

#sep {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.21);
  width: 1px;
  height: 65%;
  left: 50%;
  top: 17%;
}

button {
  width: 23%;
  font-size: 17px;
  padding: 0px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 4%;
  background-color: white;
  border: 0px;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  transition-timing-function: linear;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  outline: none;
}

button:active {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  outline: none;
}

#advanced {
  width: 47%;
  position: absolute;
  padding-top: 25px;
  height: 61%;
}

#ans, button[value=' MOD '] {
  font-size: 13px;
}

.btn {
  height: 15%;
}

.adv-btn {
  height: 23%;
}


button[value='C'], button[value='CE'], button[value='←'] {
  color: #e43030;
}

button[value='C']:hover, button[value='CE']:hover, button[value='←']:hover {
  background-color: rgba(228, 48, 48, 0.16);
}

button[value='C']:active, button[value='CE']:active, button[value='←']:active {
  background-color: rgba(228, 48, 48, 0.36);
}

button[value='='] {
  color: #1cb5c8;
}

button[value='=']:hover {
  background-color: rgba(28, 181, 200, 0.28);
}

button[value='=']:active {
  background-color: rgba(28, 181, 200, 0.48);
}

#hist_container {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 18%;
}

#history {
  overflow: scroll;
  max-height: 55%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 3px;
}

#history::-webkit-scrollbar {
  display: none;
}

#hist_container > h5 {
  color: #1cb5c8;
font-size: 18px;
font-weight: normal;
}

var {
  font-family: monospace;
    border: 1px solid #9c9c9c;
    padding: 2px;
}

#history > b {

font-family: sans-serif;
color: #1cb5c8;
}

#history > hr {
  border-width: 0.5px;
border-color: #1cb5c8;
margin: 8px 0px 8px 0px;
}

#menu-bar {
  position: relative;
padding: 2px;
}

.sound {
  position: relative;
  left: 90%;
  border-radius: 50%;
  background-color: red;
  padding: 3px;
}

/*CSS media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #keypad {
    width: 75%;
    position: absolute;
    height: 100%;
  }

  #sep {
    top: 4%;
  }

  #hist_container {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 15%;
  }
}
